{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
</head>

<body>
  <div class="signupbox">
    <img src="{% static 'app/images/manager.png' %}" class="avatar">
    <h1>Manager Sign Up</h1>
    <form class="" action="index" method="post">
      <p>Full Name</p>
      <input type="text" name="" placeholder="Enter your Full Name">
      <p>ID</p>
      <input type="text" name="" placeholder="Enter your ID">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <p>Phone Number</p>
      <input type="tel" name="" placeholder="Enter Phone Number">
      <p>Email</p>
      <input type="text" name="" placeholder="Enter Email Address">
      <input type="submit" name="" value="Sign Up"><br>

    </form>

  </div>
</body>

</html>
